.titulo{
    color: rgb(243, 243, 243);
}
.titleIcon{
    background-color: #bdbdbd;
}
.imagenCel{
    width: 8rem;
    height: 10rem;
    justify-content: center;
    display: flex;
    align-items: center;
}
.card-style{
    background-color: #bdbdbd;
    flex-wrap: wrap;
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: 0 3px 10px 0 rgb(70, 70, 70);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}
.textT{
    background-color: #bdbdbd;
    display: flex;
    color: #000000;
    justify-content: center;
    align-items: center;
}
.icons{
    background-color: #bdbdbd;
}
.heartIcon{
    background-color: #bdbdbd;

}
.textC{
    color: #000000;
    padding: 1px;
    margin: 10px;
    border-radius: 30px;
    flex-wrap: wrap;
    justify-content: center;
    
}
.textT{
    display: flex;
    justify-content: start;
    margin-right: 20px;

}
.titleIcon{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.heartIcon{
    font-size: x-large;
    margin-right: 5px;

}
.enlaceBot{
    background-color: #25252500;
    text-decoration: none;
    color: #e0e0e0;
    padding: 1rem ;
    font-size: medium;
}