*{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);


}
.celulares{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.celulares div{
    margin: 1rem;
}

